.about{
	display:inline-block;
}
.about-icon{
	width:30%;
	float:left;
	img{
		border-radius: 50%;
	  display: inline-block;
	  margin: 0;
	  position: relative;
	  vertical-align: top;
	  z-index: 2;
	}
}
.about-content{
	width:70%;
	float:right;
}